{% extends "layout.html" %}
{% block body %}
    <ul class=customers>
        <table class="table table-striped">
            <tr><th>Name</th><th>Customer ID</th><th>Market</th></tr>
            <!-- customers is a pagination object -->
            {% for customer in customers.object_list %}
                <tr>
                    <td><a href="display_customer/{{ customer.customer_id }}/1">{{ customer.name }}</a></td>
                    <td><a href="display_customer/{{ customer.customer_id }}/1">{{ customer.customer_id }}</a></td>
                    <td>{{ customer.market_name }}</td>
                </tr>
            {% endfor %}
            {% if customers.has_previous %}
                <a href="/{{ customers.previous_page_number }}"><< Newer customers</a>
            {% else %}
                << Newer customers
            {% endif %}
                {% if customers.has_next %}
                    <a href="/{{ customers.next_page_number }}">Older customers >></a>
            {% else %}
                Older customers >>
            {% endif %}
        </table>
    </ul>
{% endblock %}

